version: '3.9'

services:
  db:
    image: postgres:16
    container_name: bellshairdb
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: belissodb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - backend-net

  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: beliss-api
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_USERNAME: postgres
      DB_PASSWORD: postgres
      DB_NAME: belissodb
    networks:
      - backend-net
    command: npm run start:dev

volumes:
  pgdata:

networks:
  backend-net:
    driver: bridge
